{% extends 'base.html' %}
{% block bodycontent %}

<div class="row">
	<div class="col col-lg-4 col-md-12 col-sm-12"></div>	
	<div class="col col-lg-4 col-md-12 col-sm-12">	
		<div class="row">
			<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="text-center">
					<h4>Login</h4>
				</div>

				<form action="{% url 'auth:login' %}" method="post" role="form">
					{% csrf_token %}
					{% include 'snippets/widget_tweak_form.html' with form=form %}
				<div>
					<button class="btn btn-secondary btn-lg btn-block" type="submit" name="login">Login</button>
				</div>
					</form>

				<div>
					<!-- <button class="btn btn-primary btn-lg btn-block mt-2" href="{% url 'auth:find_lost_account' %}" type="button" name="find">Forgot my ID/Password</button> -->
					<a href="{% url 'auth:find_lost_account' %}"class='btn btn-secondary btn-lg btn-block mt-2' role="button">Forgot my ID/Password</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col col-lg-4 col-md-12 col-sm-12"></div>		
</div>
{% endblock %}