
/*css of about.html*/
.heading {
		  padding-top: 20px;
		  text-align: center;
		  font-family: 'Prata', serif;
		}

.middle-column-content {font-family: 'Prata', serif;}

.go-tos {padding-top: 20px;}